[submodule "Source"]
	path = Source
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel

[submodule "FreeRTOS-Plus-POSIX"]
	path = FreeRTOS-Plus-POSIX
	url = https://github.com/FreeRTOS/Lab-Project-FreeRTOS-POSIX.git
